.transactionHistory {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    padding-left: 850px;
    padding-top: 60px;
}

.transactionOptions {
    display: flex;
    color: white;
    background-color: rgb(0, 174, 255);
}

.transactionList {
    display: flex;

}


.transactionNet {
    text-align: center;
    align-items: center;
    display: grid;
    width: 170px;
    height: 30px;
    border: 1px solid #E7E9FC;
}